*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

::cue(v.color1) {
  color: red;
}
::cue(v.color2) {
  color: green;
}
::cue(v.color3) {
  color: blue;
}
::cue(v.color4) {
  color: orange;
}
::cue(v.color5) {
  color: purple;
}
